<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="{{ url_for('static', filename='styles_new.css') }}" />

  <style>
    body {
      background-color: #f4f6f9;
      font-family: "Poppins", sans-serif;
    }
  </style>
</head>

<body>
  <div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div
            class="alert alert-{{ category }} alert-dismissible fade show mt-3"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="reset-container">
      <h1 class="reset-title mb-2">Reset Password</h1>
      <p class="reset-sub">Please enter your registered email and new password.</p>
      <hr />

      <form action="{{ url_for('update_the_password') }}" method="POST">
        <div class="mb-3">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter your email"
            required
          />
        </div>

        <div class="mb-3">
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="New Password"
            required
          />
        </div>

        <div class="mb-3">
          <input
            type="password"
            name="confirm_passw"
            class="form-control"
            placeholder="Confirm Password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-main mt-2">
          Update Password
        </button>
      </form>
      <form action="{{ url_for('login_acc') }}" method="get">
        <button class="btn btn-outline-danger btn-main mt-3" type="submit">
          Back to Login
        </button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
